@media (min-width: 320px) {
  .card-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px; }
  .margin_left {
    margin-left: 0; }
  .single-card:last-child {
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%); }
  .capability-card-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; }
  .card-section-description {
    width: 100%; }
  .capability-card-header .title {
    margin-bottom: 5px; }
  .card-section-description .title {
    margin-bottom: 20px; }
  .card-wrapper {
    box-shadow: none !important; }
  .top-left-radius {
    border-top-left-radius: 0px !important; }
  .top-right-radius {
    border-top-right-radius: 0px !important; }
  .bottom-right-radius {
    border-bottom-right-radius: 0px !important; }
  .bottom-left-radius {
    border-bottom-left-radius: 0px !important; }
  #popup .popup-container .popup h2 {
    font-size: 70px; }
  #popup .popup-container .popup .close-popup a {
    font-size: 70px; } }

@media (min-width: 992px) {
  .card-wrapper {
    flex-wrap: wrap;
    gap: 0; }
  .single-card:last-child {
    clip-path: unset; }
  .capability-card-header {
    flex-direction: row;
    align-items: center;
    padding: 50px 0px; }
  .card-section-description {
    width: 50%; }
  .card-wrapper .single-card .card-info {
    min-height: 185px;
    max-height: 190px; }
  .card-wrapper .single-card:hover .card-info {
    min-height: 185px;
    max-height: auto; }
  .top-left-radius {
    border-top-left-radius: 10px !important; }
  .top-right-radius {
    border-top-right-radius: 10px !important; }
  .bottom-right-radius {
    border-bottom-right-radius: 10px !important; }
  .bottom-left-radius {
    border-bottom-left-radius: 10px !important; }
  .card-wrapper {
    box-shadow: 0px 8px 24px 0 rgba(25, 26, 27, 0.1); }
  .margin_left {
    margin-left: 0px; }
  .card-wrapper .single-card {
    box-shadow: 0px 8px 24px 0 rgba(25, 26, 27, 0.1);
    margin-bottom: 30px; }
  .card-wrapper .single-card .card-info .title {
    margin-left: 5px;
    font-size: 16px; }
  .card-wrapper .single-card:hover .icon-box, .card-wrapper .single-card:hover .card-info {
    padding-left: 20px !important; }
  #popup .popup-container .popup h2 {
    font-size: 100px; }
  #popup .popup-container .popup .close-popup a {
    font-size: 70px; } }

@media (min-width: 1200px) {
  .card-wrapper .single-card .card-info {
    min-height: 170px; }
  .card-wrapper {
    flex-wrap: nowrap; }
  .margin_left {
    margin-left: -55px; }
  .card-wrapper .single-card .card-info .title {
    margin-left: 5px !important;
    font-size: 16px !important; }
  .card-wrapper .single-card:hover .icon-box, .card-wrapper .single-card:hover .card-info {
    padding-left: 50px !important; } }
